.main {
    height: 500px;
    width: auto;
    display: flex;
}

.main1 {
    height: 500px;
    width: 1000px;
}

.main1 img {
    padding-left: 80px;
    padding-top: 50px;
}

.mix {
    display: flex;
    height: 130px;
    width: auto;

}

.losi {
    padding-top: 55px;
    padding-left: 200px;
    display: flex;
    font-size: 25px;


}

.signup {
    padding: 15px;
    width: 80px;
    height: 40px;
    padding-left: 25px;


}

.login {
    background-color: black;
    padding: 15px;
    width: 80px;
    height: 40px;
    padding-left: 25px;
    color: aliceblue;
}

.text {
    padding-left: 100px;
    padding-top: 40px;
}

.main2 {
    height: 500px;
    width: 500px;
}

.main2 img {
    height: 500px;
    width: 500px;
}

.search {
    padding-left: 90px;
}

.search input {
    height: 50px;
    width: 400px;
}

.span1 {
    height: 40px;
    width: 40px;
    padding: 18px 35px 18px 35px;
    color: whitesmoke;
    background-color: orange;
    font-size: 20px;
}

.place {
    padding-left: 30px;
    padding-top: 30px;
}

.middle {
    width: auto;
    display: flex;
    background-color: brown;
}

.footer {
    background-color: black;
    height: 400px;
    width: 100%;
    color: white;
    display: flex;
}

.a {
    height: 400px;
    width: 25%;
    text-align: center;
}

.b {
    height: 400px;
    width: 25%;
    text-align: center;

}

.c {
    height: 400px;
    width: 25%;
    text-align: center;

}

.d {
    height: 300px;
    width: 25%;
    text-align: center;
    padding-top: 60px;

}

@media (max-width:376px) {
    .main {
        height: 500px;
        width: 100%;
        display: inline-block;
    }

    .main1 {
        height: 500px;
        width: 100%;
    }

    .main1 img {
        padding-left: 40px;
        padding-top: 10px;
    }

    .mix {
        display: inline-block;
        height: 130px;
        width: 100%;

    }

    .losi {
        padding-top: 55px;
        padding-left: 30px;
        display: flex;
        font-size: 25px;


    }

    .signup {
        padding: 15px;
        width: 80px;
        height: 40px;
        padding-left: 25px;


    }

    .login {
        background-color: black;
        padding: 15px;
        width: 80px;
        height: 40px;
        padding-left: 25px;
        color: aliceblue;
    }

    .text {
        padding-left: 0px;
        padding-top: 40px;
    }

    .main2 {
        height: 500px;
        width: 500px;
    }

    .main2 img {

        height: 500px;
        width: 500px;
        padding-top: 100px;
    }

    .search {
        padding-left: 10px;
    }

    .search input {
        height: 50px;
        width: 150px;
    }

    .span1 {
        height: 40px;
        width: 40px;
        padding: 18px 35px 18px 35px;
        color: whitesmoke;
        background-color: orange;
        font-size: 20px;
    }

    .place {
        padding-left: 00px;
        padding-top: 10px;

    }


    .middle {
        width: 100%;
        display: inline-block;
        background-color: brown;
    }
    .footer {
        background-color: black;
        height: 400px;
        width: 100%;
        color: white;
        display: inline-block;
    }
    
    .a {
        height: 400px;
        width: auto;
    }
    
    .b {
        height: 400px;
        width: auto;
        text-align: center;
    
    }
    
    .c {
        height: 400px;
        width: 25%;
        text-align: center;
    
    }
    
    .d {
        height: 300px;
        width: 25%;
        text-align: center;
        padding-top: 60px;
    
    }
    
}